<!doctype html>
<html lang="en">
<head>
  <title>Résumé of {{ d.info.name }}</title>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <style>
    {{ css }}
  </style>
</head>
<body>
  <article>
    <header class="grid-container">
      <img src="data:image/jpeg;base64,{{ avatar }}" alt="avatar"/>
      <h1>{{ d.info.name }}</h1>
      <address>
	<span>{{ d.info.location }}</span>
	<br/>
	<span>{{ d.info.phone }}</span>
      </address>
      <address>
	<a href="mailto:{{ d.info.email }}">{{ d.info.email }}</a>
	<br/>
	<span><a href="https://www.github.com/{{ d.info.github }}">github.com/{{ d.info.github }}</a></span>
      </address>
    </header>
    <section>
      <h2>Experience</h2>
      <hr/>
      {% for workplace in d.workplaces %}
      <h3>{{ workplace.name }}<small>{{ workplace.role }} - {{ workplace.location }}</small></h3>
      <small>{{ workplace.start }} - {{ workplace.end | default("present", true) }}</small>
      <ul>
	{% for achievement in workplace.achievements %}
	<li>{{ achievement }}</li>
	{% endfor %}
      </ul>
      {% endfor %}
    </section>
    <section>
      <h2>Education</h2>
      <hr/>
      {% for school in d.schools %}
      <h3>{{ school.name }} <small>{{ school.location }}</small></h3>
      <small>{{ school.duration }}</small>
      <ul>
	{% for achievement in school.achievements %}
	<li>{{ achievement }}</li>
	{% endfor %}
      </ul>
      {% endfor %}
    </section>
    <section>
      <h2>Skills</h2>
      <hr/>
      <ul>
      {% for category in d.skills._fields %}
	 <li><strong>{{ category.title() }}: </strong> {{ ', '.join(d.skills[category]) }}</li>
      {% endfor %}
      </ul>
    </section>
    <footer>
      <p>References available upon request.  Thank you for your consideration!</p>
    </footer>
  </article>
</body>
</html>
